body {
    margin:0;
    font-family:'Segoe UI', Tahoma , Geneva, Verdana , sans-serif;
    background: white;
}

.container{
    max-width:800px;
    margin:auto;
    padding: 20px;
}

header{
    background: linear-gradient(to_right,#006266,#33AeFF);
    color:white;
    padding:20px 0;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1)
}

header{
    margin:0;
    font-size:28px;
    text-align:center;
    letter-spacing:1px;
}

nav{
    text-align:center;
    margin-top:10px;
}

nav a {
    color:white;
    text-decoration:none;
    margin:500;
    transition: color 0.3s ease;
}

nav a:hover{
    color:#ffd70f

}

footer{
    background-color:#343a40;
    color:#ccc;
    padding:15px 0;
    text-align:center;
    margin-top:60px;
    box-shadow: 0-2px 8px rgba(0, 0, 0, 0.1);

}

footer p{
    margin:0;
}

.flash.success {color:green}
.flash.danger {color:red}
.flash.info{color:blue}

.login-box{
    max-width: 400px;
    margin:40px auto;
    padding: 30px;
    background-color: white;
    border-radius:8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

